body,
html {
  height: 100%;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0px;
  list-style-type: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.row {
  display: flex;
  gap: 8px;
}
.row-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.padding {
  padding: 10px;
}

.padding-md {
  padding: 20px;
}

.margin {
  margin: 10px;
}

.margin-md {
  margin: 20px;
}

.drawer {
  height: 100vh;
  width: 280px;
  min-width: 240px;
  background-color: #303030;

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.link,
.main-button,
.secondary-button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #242424;
  transition: border-color 0.25s;
}

.link:hover,
.main-button:hover,
.secondary-button:hover {
  background-color: #202020;
  border-color: #646cff;
}

.main-button {
  padding: 10px 30px 10px 30px;
}

.secondary-button {
  background-color: #404040;
}

.card {
  border: 1px solid #646cff;
  border-radius: 10px;
  max-width: 700px;
  min-height: 500px;
  border-color: #646cff;
}

.img-animation {
  animation: rotateY 3s infinite;
}

@-webkit-keyframes rotateY {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(2px);
  }

  75% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(-2px);
  }
}

.pill {
  background-color: #000000;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.error-card {
  color: red;
}

.ma-0 {
  margin: 0px;
}

.my-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 50px;
}

.w-100 {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  .drawer {
    background-color: #f9f9f9;
  }

  .link,
  .main-button {
    background-color: #ffffff;
  }

  .secondary-button {
    background-color: #acb0fc;
  }
  .secondary-button:hover {
    background-color: #acb0fc;
  }

  .link:hover,
  .main-button:hover {
    background-color: #ffffff;
  }

  .pill {
    background-color: #f9f9f9;
  }
}
